.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/SimpleBox
.ipynb_checkpoints/SI_Graphing-checkpoint.ipynb
trackmpd_data/.ipynb_checkpoints/data processing-checkpoint.ipynb
trackmpd_data/~$Velocities_all_weighted.xlsx
/figures/.ipynb_checkpoints
~*
~$SI_B.xlsx
input/trackmpd_data/.ipynb_checkpoints/data processing-checkpoint.ipynb
input/trackmpd_data/.ipynb_checkpoints/data processing-checkpoint.ipynb
results/~$results_FF_CF_CI_9.xlsx
input/trackmpd_data/~$Velocities_all_weighted.xlsx
input/~$Redistribution_prefate.xlsx
results/~$SI_D.xlsx
input/trackmpd_data/.ipynb_checkpoints/data processing-checkpoint.ipynb
input/trackmpd_data/.ipynb_checkpoints/data processing-checkpoint.ipynb
input/trackmpd_data/.ipynb_checkpoints/data processing-checkpoint.ipynb
results/~$results_FF_CF_CI_time_horizon.xlsx
