.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/SimpleBox
.ipynb_checkpoints/SI_Graphing-checkpoint.ipynb
trackmpd_data/.ipynb_checkpoints/data processing-checkpoint.ipynb
trackmpd_data/~$Velocities_all_weighted.xlsx
/figures/.ipynb_checkpoints
input/~$SI_B.xlsx
results/~$SI_C.xlsx
~$SI_B.xlsx
input/trackmpd_data/.ipynb_checkpoints/data processing-checkpoint.ipynb
input/trackmpd_data/.ipynb_checkpoints/data processing-checkpoint.ipynb
results/~$results_FF_CF_CI_9.xlsx
~$SI_B.xlsx
